.DS_Store
.env
.parcel-cache
.npmrc
.vercel
server-auth/.env
server-auth/coverage
server-auth/dist
server-authauth/node_modules
client/.env
client/.parcel-cache
client/coverage
client/dist
client/node_modules
db_migration/.env
db_migration/node_modules
node_modules
server-file/.env
server-file/coverage
server-file/dist
server-file/node_modules
server-game/.env
server-game/coverage
server-game/dist
server-game/node_modules
*.key
*.pem