.DS_Store
.env
.parcel-cache
.vercel
auth/.env
auth/node_modules
auth/package-lock.json
client/.env
client/.parcel-cache
client/dist
client/node_modules
client/package-lock.json
db_migration/.env
db_migration/node_modules
db_migration/package-lock.json
node_modules
package-lock.json
server/.env
server/node_modules
server/package-lock.json
