services:
  db:
    image: postgres:latest
    container_name: DB
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  db-migrations:
    build: db-migrations
    links:
      - db
    depends_on:
      - db
    env_file:
      - .env
  server-auth:
    develop:
      watch:
        - action: sync+restart
          path: ./server-auth
          target: /app
          ignore:
            - coverage/
            - node_modules/
            - dist/
    build: server-auth
    depends_on:
      - db
      - db-migrations
    ports:
      - '8000:8000'
    env_file:
      - .env
  server-file:
    develop:
      watch:
        - action: sync+restart
          path: ./server-file
          target: /app
          ignore:
            - coverage/
            - node_modules/
            - dist/
    build: server-file
    ports:
      - '8081:8081'
    env_file:
      - .env
  server-game:
    develop:
      watch:
        - action: sync+restart
          path: ./server-game
          target: /app
          ignore:
            - coverage/
            - node_modules/
            - dist/
    build: server-game
    depends_on:
      - db
      - db-migrations
    ports:
      - '8080:8080'
    env_file:
      - .env

  client:
    build: client
    depends_on:
      - server-auth
      - server-game
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - type: bind
        source: ./client/src
        target: /app/src
      - type: bind
        source: ./client/public
        target: /app/public
volumes:
  db_data:
